html
    head
        title= name
        style
            include ../styles/style.css
    body
        include components/header.pug
        include components/bio.pug
        include components/workExp.pug
        include components/skillList.pug
        include components/reference.pug