html
    head
        title= name
        style
            include ../styles/main.css
    body
        div.wrapper
            include components/header.pug
            include components/bio.pug
            include components/workExp.pug
            include components/skillList.pug
            include components/reference.pug